.regFormcontainer{
    margin-top: 40px;
    margin-left: 33%;
    width:300px;
    background-color: cadetblue;
    color: cornsilk;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}

.errmsg{
    color: crimson;
}
.inp{
    width:90%;
}

#address{
    width: 90%;
}

#gender{
    width:72%;
}
#subbtn{
    margin-right: 20px;
}

.wrapper{
    width:900px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.addTaskFormcontainer{
    width:250px;
    margin-left: 10%;
    padding-left: 10px;
    padding-right: 10px;   
    border-style: double;
    background-color: lightsteelblue;
    float: left;
}

.viewTaskFormcontainer{
    border-style: double;
    width: 650px;
    float:left;
    margin-left: 10%;
    margin-top: 30px;
    background-color: honeydew;
    text-align: center;
}

#ViewTable td, th{
    width:180px;
    border-style:solid;
    border-width: 1.5px;
}

#searchTable td, th{
    width:180px;
    border-width: 1.5px;
    border-style:solid;
} 

.navbar{
    background-color: cornsilk;
    
    width:100%;
	text-align: center;
    margin-left: 0px;
    float :left;
}


.navbar ul{
    margin-top: 0px;
	display:inline;
	list-style-type: none;
	
}

.navbar li{
    background-color: cornsilk;
    float:left;
    border-color: black;
    border-style:solid;
    border-width: 1px;
	padding-top:15px;
    padding-bottom:15px;
    
}


.navbar a {
    margin-left: 0px;
	padding:15px;
    color: rgb(189, 22, 22);
    width: 100%;
	text-decoration: none;
	
}

.navbar a.active {
    background-color: crimson;
    color: cornsilk;
    
}

.tablefield{
    border: 2px;
    border-style: solid;
    width:150px
}

.reminderContainer{
    width:500px;
    background-color: cadetblue;
    margin-left: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;   
    border-style: double;
    background-color: lightsteelblue;
}

#reminderTable td{
    border-style: solid;
    border-width: 1px;
}

#updateTaskTable input{
    margin-left: 2px;
    margin-top: 2px;
    width: 148px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#DeleteView{
    width:1000px;
}

#DeleteView  th{
    border-style: solid;
    border-width: 2px;
}

#DeleteView td{
    border-style: solid;
    border-width: 2px;
}

.userDetails th{
    border: 1px;
    border-style: none;
}

.userDetails td{
    border: 1px;
    border-style: none;
}

.userDetails table{
    margin-top: 80px;
    margin-left: 200px;
    border-style: solid;
}

.updateUserDetails th{
    border: solid;
    border-width: 1px;
}

.updateUserDetails td{
    border: solid;
    border-width: 1px;
}

.updateUserDetails input{
    border: none;
}

.searchBar{
    display: inline-block;
    width:250px;
}
#viewSearch input{
    margin-top: 0px;
    width:130px;
}

.statusSpan{
    margin-left: 2px;
    border-width: 2px;
    border-style: solid;
}
