.regFormcontainer{
    margin-top: 40px;
    margin-left: 33%;
    width:300px;
    background-color: cadetblue;
    color: cornsilk;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}

.errmsg{
    color: crimson;
}
.inp{
    width:90%;
}

#address{
    width: 90%;
}

#gender{
    width:72%;
}
#subbtn{
    margin-right: 20px;
}

.addTaskFormcontainer{
    width:25%;
    padding-left: 10px;
    padding-right: 10px;   
    border-style: double;
    background-color: lightsteelblue;
    float: left;
}

.viewTaskFormcontainer{
    border-style: double;
    width: 35%;
    float:right;
    margin-left: 20px;
    background-color: honeydew;
    text-align: center;
}

#ViewTable td, th{
    width:180px;
    border-style:solid;
    border-color: rgb(44, 18, 68);
}

.navbar{
    background-color: cornsilk;
    
    width:100%;
	text-align: center;
    margin-left: 0px;
    float :left;
}


.navbar ul{
    margin-top: 0px;
	display:inline;
	list-style-type: none;
	
}

.navbar li{
    background-color: cornsilk;
    float:left;
    border-color: black;
    border-style:solid;
    border-width: 1px;
	padding-top:15px;
    padding-bottom:15px;
    
}


.navbar a {
    margin-left: 0px;
	padding:15px;
    color: rgb(189, 22, 22);
    width: 100%;
	text-decoration: none;
	
}

.navbar a.active {
    background-color: crimson;
    color: cornsilk;
    
}

.tablefield{
    border: 2px;
    border-style: solid;
    width:150px
}

#updateTaskTable input{
    margin-left: 2px;
    margin-top: 2px;
    width: 148px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#DeleteView  th{
    border-style: solid;
    border-width: 2px;
}

#DeleteView td{
    border-style: solid;
    border-width: 2px;
}
